
body main{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 2%;

}

body main div{
    background-color: transparent;
}

/* O align e seus derivados servem para alinhar o conteudo em questão. */

body main p{
    flex-basis: 100%;
    margin-left: 10%;
    margin-top: 15%;
    margin-bottom: 20%;
    text-align: left;
    color: #FF8E8E;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-size: 22px;
}

#introduction{
    margin-top: 5%;
    margin-left: 10%;
    flex-basis: 100%;
    height: auto;
}

#imagebox{
    width: 100%;
    flex-basis: 30%;
    height: 570px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 4px 6px #00000060 inset;
}
#imagebox img{
    width: 100%;
    background-color: #A7E2FF30;
}

.textbox{
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 5%;
    background-color:#FF8E8E;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 500px;
    height: 220px;
    margin: 10px;
    border-radius: 20px;
}

.textbox p{
    color: #0D0515;
    margin: 15px;
    text-align: left;
    background-color: transparent;
}

/* Para aparelhos com ecrãs maiores que 320px */
@media only screen and (min-width: 320px) 
{
    #introduction{
        margin-left:5%;
    }
    .textbox{
        width: 300px;
        height: 280px;
        margin-top: 2%;
        margin-left: 3%;
        margin-right: 3%;
    }
    .textbox p{
        font-size: 18px;
        margin: 15px;
        text-align: left;
    }
    #imagebox{
        margin-left: 4%;
        width: 100%;
        flex-basis: 90%;
        height: 273px;
        border-radius: 10px;
    }
    #imagebox img{
        width: 100%;
    }
}

/* Para aparelhos com ecrãs maiores que 420px */
@media only screen and (min-width: 420px)
{
    #introduction{
        margin-left:5%;
    }
    .textbox{
        width: 500px;
        height: 220px;
        margin-top: 2%;
        margin-left: 3%;
        margin-right: 3%;
    }
    .textbox p{
        font-size: 18px;
        margin: 15px;
        text-align: left;
    }
    #imagebox{
        margin-left: 4%;
        width: 100%;
        flex-basis: 90%;
        height: 365px;
        border-radius: 10px;
    }
    #imagebox img{
        width: 100%;
    }
}

/* Para aparelhos com ecrãs maiores que 550px */
@media only screen and (min-width: 550px) 
{
    #introduction{
        margin-left:5%;
    }
    .textbox{
        width: 500px;
        height: 190px;
        margin-top: 2%;
        margin-left: 3%;
        margin-right: 3%;
    }
    .textbox p{
        font-size: 20px;
        margin: 15px;
        text-align: left;
    }
    #imagebox{
        margin-left: 4%;
        width: 100%;
        flex-basis: 90%;
        height: 483px;
        border-radius: 10px;
    }
    #imagebox img{
        width: 100%;
    }
}

/* Para aparelhos com ecrãs maiores que 750px  */
@media only screen and (min-width: 750px)
{
    #introduction{
        margin-left:5%;
    }
    .textbox{
        width: 600px;
        height: 185px;
        margin-top: 2%;
        margin-left: 3%;
        margin-right: 3%;
    }
    .textbox p{
        font-size: 22px;
        margin: 15px;
        text-align: left;
    }
    #imagebox{
        margin-left: 4%;
        width: 100%;
        flex-basis: 90%;
        height: 664px;
        border-radius: 10px;
    }
    #imagebox img{
        width: 100%;
    }
}
/* Para aparelhos com ecrãs maiores que 990px */
@media only screen and (min-width: 990px)
{
    #introduction{
        margin-left: 3%;
    }
    .textbox{
        width: 450px;
        height: 190px;
        margin-top: 2%;
        margin-left: 3%;
        margin-right: 3%;
    }
    .textbox p{
        font-size: 20px;
        margin: 15px;
        text-align: left;
    }
    #imagebox{
        margin-left: 0%;
        width: 100%;
        flex-basis: 30%;
        height: 294px;
        border-radius: 10px;
    }
    #imagebox img{
        width: 100%;
    }
}

/* Para aparelhos com ecrãs maiores que 1200px */
@media only screen and (min-width: 1200px)
{
    #introduction{
        margin-left: 5%;
    }
    .textbox{
        width: 500px;
        height: 220px;
        margin-top: 2%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .textbox p{
        margin: 15px;
        text-align: left;
        font-size: 22px;
    }
    #imagebox{
        margin-left: 0%;
        width: 100%;
        flex-basis: 30%;
        height: 570px;
        border-radius: 10px;
    }
    #imagebox img{
        width: 100%;
    }
}

/* Para aparelhos com ecrãs maiores que 1500px */
@media only screen and (min-width: 1500px)
{
    #introduction{
        margin-left: 10%;
    }
    .textbox{
        width: 500px;
        height: 220px;
        margin-top: 2%;
        margin-left: 10%;
        margin-right: 5%;
    }
    .textbox p{
        margin: 15px;
        text-align: left;
        font-size: 22px;
    }
    #imagebox{
        margin-left: 0%;
        width: 100%;
        flex-basis: 30%;
        height: 570px;
        border-radius: 10px;
    }
    #imagebox img{
        width: 100%;
    }
}