body main{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 2%;

}

body main div{
    flex-basis: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #382e48;
}

body main h1{
    flex-basis: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    font-size: 28px;
}

body main div h2{
    font-size: 26px;
}

body main div h3{
    font-size: 22px;
}

body main div p{
    font-size: 18px;
}
span{
    background-color: transparent;
    font-style: italic;
    font-size: 22px;
}
#textbox1{
    margin-top: 5%;
}
#textbox2{
    margin-top: 5%;
}
#textbox3{
    margin-top: 5%;
}
#textbox5{
    margin-top: 5%;
}
#textbox6{
    margin-top: 5%;
}

#sketch1{
    background-color: transparent;
    flex-basis: 100%;
    height: 230px;
    margin-top: 5%;
    margin-bottom: 5%;
}
#sketch1 img{
    width: 49.5%;
    flex-basis: 50%;
}

#sketch2{
    background-color: transparent;
    flex-basis: 100%;
    height: 230px;
    margin-top: 5%;
    margin-bottom: 5%;
}
#sketch2 img{
    width: 32.7%;
    flex-basis: 50%;
}

#sketch3{
    background-color: transparent;
    flex-basis: 100%;
    height: 230px;
    margin-top: 5%;
    margin-bottom: 5%;
}
#sketch3 img{
    background-color: transparent;
    width: 32.7%;
    flex-basis: 100%;
}

#sketch4{
    background-color: transparent;
    flex-basis: 100%;
    height: 230px;
    margin-top: 5%;
    margin-bottom: 5%;
}
#sketch4 img{
    background-color: transparent;
    width: 10%;
}

iframe{
    width: 60%;
    height: 204px;
    margin-bottom: 2%;
}

/* Este codigo está em construção futura
(não funciona perfeitamente ainda) 

/* .ᓚᘏᗢᓚᘏᗢ
{
    position: fixed;
    top: 89%;
    right: 6%;
    height: 30px;
    width: 30px;
    background-color: transparent;
}
.ᓚᘏᗢᓚᘏᗢ a
{
    background-color: red;
}
.ᓚᘏᗢᓚᘏᗢ a img
{
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.ᓚᘏᗢᓚᘏᗢ2
{
    position: fixed;
    top: 93.8%;
    right: 6%;
    height: 30px;
    width: 30px;
    background-color: transparent;
}
.ᓚᘏᗢᓚᘏᗢ2 a
{
    background-color: red;
}
.ᓚᘏᗢᓚᘏᗢ2 a img
{
    height: 100%;
    width: 100%;
    background-color: transparent;
} */

/* Para aparelhos com ecrãs maiores que 225px e menores que 400px */
@media only screen and (max-width: 400px) and (min-width:225px)
{
    body main div{
        flex-basis: 100%;
    }
    #sketch1{
        width: 100%;
        flex-basis: 100%;
        height: 25%;
    }
    #sketch1 img{
        width: 32%;
    }
    #sketch2{
        width: 100%;
        flex-basis: 100%;
        height: 25%;
    }  
    #sketch2 img{
        width: 32%;
    }
    #sketch3{
        width: 100%;
        flex-basis: 100%;
        height: 25%;
    }  
    #sketch3 img{
        width: 32%;
    }
    #sketch4{
        width: 100%;
        flex-basis: 100%;
        height: 25%;
    }
    #sketch4 img{
        width: 10%;
    }
    
    iframe{
        width: 100%;
        height: 145px;
    }
}

/* Para aparelhos com ecrãs maiores que 400px e menores que 600px */
@media only screen and (max-width: 600px) and (min-width: 400px) 
{
    body main div{
        flex-basis: 100%;
    }
    #sketch1{
        width: 100%;
        flex-basis: 100%;
        height: 25%;
    }
    #sketch2{
        width: 100%;
        flex-basis: 100%;
        height: 25%;
    }  
    #sketch3{
        width: 100%;
        flex-basis: 100%;
        height: 22%;
    } 
    #sketch4{
        width: 100%;
        flex-basis: 100%;
        height: 25%;
    }
    #sketch4 img{
        width: 10%;
    }
    
    iframe{
        width: 100%;
        height: 242px;
    }
}

/* Para aparelhos com ecrãs maiores que 600px e menores que 750px */
@media only screen and (max-width: 750px) and (min-width: 600px) 
{
    #sketch1{
        flex-basis: 100%;
        height: 25%;
    }
    #sketch2{
        flex-basis: 100%;
        height: 25%;
    }

    #sketch2{
        width: 100%;
        flex-basis: 100%;
        height: 25%;
    }

    #sketch3{
        width: 100%;
        flex-basis: 100%;
        height: 22%;
    }
    
    #sketch4{
        width: 100%;
        flex-basis: 100%;
        height: 25%;
    }
    #sketch4 img{
        width: 10%;
    }
    
    iframe{
        width: 100%;
        height: 360px;
    }
}

/* Para aparelhos com ecrãs maiores que 750px */
@media only screen and (min-width: 750px)
{
    #sketch1{
        width: 100%;
        flex-basis: 100%;
        height: 25%;
    }

    #sketch2{
        width: 100%;
        flex-basis: 100%;
        height: 25%;
    }

    #sketch3{
        width: 100%;
        flex-basis: 100%;
        height: 22%;
    }

    #sketch4{
        width: 100%;
        flex-basis: 100%;
        height: 25%;
    }
    #sketch4 img{
        width: 10%;
    }
    
    iframe{
        width: 60%;
        height: 240px;
    }
}
/* Para aparelhos com ecrãs maiores que 990px */
@media only screen and (min-width: 990px)
{
    #sketch1{
        width: 100%;
        flex-basis: 100%;
        height: 25%;
    }
    
    #sketch2{
        width: 100%;
        flex-basis: 100%;
        height: 25%;
    }

    #sketch3{
        width: 100%;
        flex-basis: 100%;
        height: 22%;
    }

    #sketch4{
        width: 100%;
        flex-basis: 100%;
        height: 25%;
    }
    #sketch4 img{
        width: 10%;
    }

    iframe{
        width: 60%;
        height: 404px;
    }
}

/* Para aparelhos com ecrãs maiores que 1200px  */
@media only screen and (min-width: 1200px)
{  
    body main div{
        flex-basis: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    #sketch1{
        width: 100%;
        flex-basis: 100%;
        height: 25%;
    }
    #sketch1 img{
        width: 32.9%;
    }

    #sketch2{
        width: 100%;
        flex-basis: 100%;
        height: 25%;
    }
    #sketch2 img{
        width: 32%;
    }

    #sketch3{
        width: 100%;
        flex-basis: 100%;
        height: 25%;
    }
    #sketch3 img{
        width: 22%;
    }

    #sketch4{
        width: 100%;
        flex-basis: 100%;
        height: 25%;
    }
    #sketch4 img{
        width: 10%;
    }

    iframe{
        width: 49.5%;
        height: 189px;
    }
}