/* As margens servem para dar espaço entre os conteudos da pagina.
Dentro desse conteudo, o padding determina quanto espaço
é retirado ao restante. 

O background color serve para determinar que cor
queremos de fundo dentro do conteudo em questão.

O height, como width, também serve para determinar que
espaço queremos que todo o conteudo relacionado esteja
a usar, em relação ao espaço da pagina em questão.

No entanto, enquanto width determina a largura,
o height determina a altura. */

main{
    width: auto;
    height: 100%;
    background-color: rgb(49, 37, 67);
}
div.gallery {
    width: 8%;
    /* padding: 0.5%; */
    margin: 0.5%;
    background-color: rgb(49, 37, 67);
    float: left;
    width: 180px;
}

div.gallery img{
    width: 100%;
    height: auto;
}

/* Os códigos font, text e derivados de ambos servem editar os textos dos conteudos.

Color serve para determinar a cor do texto em questão */

div.desc{
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    color: #FDECFB;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    background-color: rgba(49,37,67);
}


/* O código :hover serve para conseguirmos,nós programadores,
editar o conteudo em relação a quando alguém passar com
o rato por cima dele o conteudo possuir diferenças. */

div.gallery:hover{
    background-color: #FDECFB;
}

figure:hover{
    background-color: #FDECFB;
}

footer{
    margin-top: auto;
    clear: left;
}

/* Para aparelhos com ecrãs menores que 600px  */
@media only screen and (max-width: 600px) 
{
    div.gallery  {
        width: 100%;
    }
    div.desc {
        font-size: 18px;
    }
}

/* Para aparelhos com ecrãs maiores que 600px e menores que 750px */
@media only screen and (max-width: 750px) and (min-width: 600px)  
{
    div.gallery  {
        width: 49%;
    }
    div.desc {
        font-size: 14px;
    }
}

/* Para aparelhos com ecrãs maiores que 750px  */
@media only screen and (min-width: 750px)
{
    div.gallery  {
        width: 32.3%;
    }
    div.desc {
        font-size: 12px;
    }
}
/* Para aparelhos com ecrãs maiores que 990px  */
@media only screen and (min-width: 990px) 
{
    div.gallery  {
        width: 32.3%;
    }
    div.desc {
        font-size: 16px;
    }
}

/* Para aparelhos com ecrãs maiores que 1200px  */
@media only screen and (min-width: 1200px)
{
    div.gallery {
        width: 32.3%;
    }
    div.desc{
        font-size: 18px;
    }
}