/* Flex, display e derivados do flex foram usados
para melhor distribuir o conteudo dentro da página,
eles servem para dar mais flexibilidade ao programador
de coloca-los onde quer. */

body main{
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 2%;

}

body main h1{
    flex-basis: 100%;
    margin-bottom: 5%;
}

body main h2{
    flex-basis: 100%;
    margin-bottom: 5%;
}

body main div{
    
    flex-basis: 40%;
}

body main a{
    height: 40px;
    align-self: center;
    border-radius: 5px;
    color: #F8FF9B;
    background-color: #FF8E8E30;
}

#imagebox{
    width: 40%;
    flex-basis: 57%;
    height: 20%;
    overflow: hidden;
}
#imagebox img{
    width: 100%;
}

/* Para aparelhos com ecrãs mais pequenos que 420px */
@media only screen and (min-width: 300px) 
{
    body main a{
        font-size: 22px;
    }
    body main{
        margin-left: 5%;
    }
    body main div{
        flex-basis: 30%;
    }
    #imagebox{
        flex-basis: 68%;
    }
}

/* Para aparelhos com ecrãs maiores que 420px */
@media only screen and (min-width: 420px)
{
    body main a{
        font-size: 22px;
    }
    body main{
        margin-left: 5%;
    }
    body main div{
        flex-basis: 30%;
    }
    #imagebox{
        flex-basis: 68%;
    }
}

/* Para aparelhos com ecrãs maiores que 550px */
@media only screen and (min-width: 550px) 
{
    body main a{
        font-size: 20px;
    }
    body main{
        margin-left: 5%;
    }
    body main div{
        flex-basis: 30%;
    }
    #imagebox{
        flex-basis: 68%;
    }
}

/* Para aparelhos com ecrãs maiores que 750px  */
@media only screen and (min-width: 750px)
{
    body main a{
        font-size: 22px;
    }
    body main{
        margin-left: 8%;
    }
    body main div{
        flex-basis: 30%;
    }
    #imagebox{
        flex-basis: 68%;
    }
}
/* Para aparelhos com ecrãs maiores que 990px */
@media only screen and (min-width: 990px)
{
    body main a{
        font-size: 24px;
    }
    body main{
        margin-left: 8%;
    }
    body main div{
        flex-basis: 35%;
    }
    #imagebox{
        flex-basis: 60%;
    }
}

/* Para aparelhos com ecrãs maiores que 1200px */
@media only screen and (min-width: 1200px)
{
    body main a{
        font-size: 26px;
    }
    body main{
        margin-left: 10%;
    }
    body main div{
        flex-basis: 40%;
    }
    #imagebox{
        width: 40%;
        flex-basis: 57%;
        height: 20%;
    }
}

/* Para aparelhos com ecrãs maiores que 1500px */
@media only screen and (min-width: 1500px)
{
    body main a{
        font-size: 28px;
    }
    body main div{
        flex-basis: 40%;
    }
    #imagebox{
        width: 40%;
        flex-basis: 57%;
        height: 20%;
    }
}