/* Flex, display e derivados do flex foram usados
para melhor distribuir o conteudo dentro da página,
eles servem para dar mais flexibilidade ao programador
de coloca-los onde quer. */

body main{
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 2%;

}

body main h1{
    flex-basis: 100%;
    margin-bottom: 5%;
}

body main h2{
    flex-basis: 100%;
    margin-bottom: 5%;
}

body main div{
    
    flex-basis: 40%;
}

body main a{
    height: 40px;
    align-self: center;
    border-radius: 5px;
    color: #F8FF9B;
    background-color: #FF8E8E30;
}

#imagebox{
    width: 40%;
    flex-basis: 57%;
    height: 20%;
    /* border-radius: 5px; */
    overflow: hidden;
}
#imagebox img{
    width: 100%;
}


/* Para aparelhos com ecrãs mais pequenos que 420px e maiores que 225px */
@media only screen and (max-width: 420px) and (min-width:225px)
{

}
/* Para aparelhos com ecrãs mais pequenos que 5990px e maiores que 420px */
@media only screen and (max-width: 599px) and (min-width: 420px) 
{

}

/* Para aparelhos com ecrãs mais pequenos que 600px */
@media only screen and (max-width: 600px)
{

}

/* Para aparelhos com ecrãs mais pequenos que 750px e maiores que 600px */
@media only screen and (max-width: 750px) and (min-width: 600px) 
{

}

/* Para aparelhos com ecrãs maiores que 750px  */
@media only screen and (min-width: 750px)
{

}
/* Para aparelhos com ecrãs maiores que 990px */
@media only screen and (min-width: 990px)
{

}

/* Para aparelhos com ecrãs maiores que 1200px */
@media only screen and (min-width: 1200px)
{  

}