/* Flex, display e derivados do flex foram usados
para melhor distribuir o conteudo dentro da página,
eles servem para dar mais flexibilidade ao programador
de coloca-los onde quer. */

body main{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 2%;

}

/* O background color serve para determinar que cor
queremos de fundo dentro do conteudo em questão. */

body main div{
    background-color: transparent;
}

/* O align e seus derivados servem para alinhar o conteudo em questão. */

body main div span{
    flex-basis: 45%;
    height: 40px;
    align-self: center;
    color: #F8FF9B;
    background-color: #FF8E8E30;
}

body main p{
    flex-basis: 100%;
    margin-left: 10%;
    margin-top: 15%;
    margin-bottom: 5%;
    text-align: left;
    color: #FF8E8E;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-size: 22px;
}

#introduction{
    margin-top: 5%;
    margin-left: 10%;
    flex-basis: 40%;
    height: auto;
}

#imagebox{
    width: 100%;
    flex-basis: 30%;
    height: 570px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 4px 6px #00000060 inset;
}
#imagebox img{
    width: 100%;
    background-color: #A7E2FF30;
}

.cards{
    margin: auto;
    width: 90%;
    height: 300px;
    position: relative;
    display: flex;
}

.card{
    position: absolute;
    background-color: #A7E2FF;
    color: #0D0515;
    width: 450px;
    height: 150px;
    border-radius: 20px;
    margin-bottom: 50px;
    
}

.card p{
    margin: 15px;
    text-align: left;
    background-color: transparent;
    text-align: left;
}

.card-1{
    left:0;
    top:0;
    z-index: 1;
}

.card-2{
    left:20px;
    top:20px;
    z-index: 0.9;
    height: 80px;
}

.card-3{
    left:40px;
    top:40px;
    z-index: 0.8;
    height: 50px;
}
.card-3 a{
    background-color: transparent;
}

.card-3 span{
    background-color: transparent;
    color: #FF8E8E;
}



.slider{
    padding: 2%;
    margin-left: 50%;
}

.slider-wrapper{
    width: 800px;
    height: 500px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 2px 60px 2px #ffffff30;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius:10px;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

/* automatic navigation */

.navigation-auto{
    position: absolute;
    background-color: transparent;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 25%;
}

.navigation-auto div{
    border: 3px solid #A7E2FF;
    background-color: transparent;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 16px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #A7E2FF;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #A7E2FF;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #A7E2FF;
}


/* Para aparelhos com ecrãs mais pequenos que 420px e maiores que 225px */
@media only screen and (max-width: 420px) and (min-width:225px)
{

}
/* Para aparelhos com ecrãs mais pequenos que 5990px e maiores que 420px */
@media only screen and (max-width: 599px) and (min-width: 420px) 
{

}

/* Para aparelhos com ecrãs mais pequenos que 600px */
@media only screen and (max-width: 600px)
{

}

/* Para aparelhos com ecrãs mais pequenos que 750px e maiores que 600px */
@media only screen and (max-width: 750px) and (min-width: 600px) 
{

}

/* Para aparelhos com ecrãs maiores que 750px  */
@media only screen and (min-width: 750px)
{

}
/* Para aparelhos com ecrãs maiores que 990px */
@media only screen and (min-width: 990px)
{

}

/* Para aparelhos com ecrãs maiores que 1200px */
@media only screen and (min-width: 1200px)
{  

}

/* Para aparelhos com ecrãs maiores que 1200px */
@media only screen and (min-width: 1900px)
{  
   #imagebox{
    flex-basis: 30%;
    height: 570px;
    }
}
