*{
    /* outline: 1px dashed rgb(255, 0, 0); */
    outline-offset: -1px;
    margin: 0;
    padding: 0;
    background-color: #0D0515;
}

/* O codigo em questão serve para as pessoas não
conseguirem guardar as fotos da página.*/

img{
    pointer-events: none;
}

@import url('https://fonts.googleapis.com/css2?family=Puritan:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

/* As margens servem para dar espaço entre os conteudos da pagina.
   Dentro desse conteudo, o padding determina quanto espaço
   é retirado ao restante. */

body{
    padding: 10px;
    background-position: top;
    background-size: 35%;
    background-repeat:repeat;
}

/* O align e seus derivados servem para alinhar o conteudo em questão.
   Os codigos de border e seus derivados servem para editar as bordas
   dos conteudos em questão.*/

body header{
    align-self: center;
}

body header nav{
    width: 100%;
    height: 30%;
    margin: auto;
    align-content: right;
    text-align: right;
    box-shadow: 0px 5px 5px #FFFFFF05;
}

body header nav ul{
    list-style: none;
    display: inline-block;
    padding:10px;
    margin-right: 100px;
}

body header nav ul li{
    float: left;
    margin: 10px;
}

body header nav a{
    text-decoration: none;
    font-family: "Bodoni Moda", serif;
    font-weight: 800;
    color:#A7E2FF;
    font-size: 17px;
    text-shadow: 0px 0px 2px #000000;
}

a {
    text-decoration: none;
    color: #A7E2FF;
}

body main{
    margin: 5%;
}

body main h1{
    text-align: left;
    color: #FF8E8E;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-size: 34px;
}

body main h2{
    text-decoration: none;
    text-align: left;
    color: #A7E2FF;
    font-family: "Bodoni Moda", serif;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 30px;
}

body main h3{
    text-decoration: none;
    text-align: center;
    color: #A7E2FF;
    font-family: "Bodoni Moda", serif;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 28px;
}

footer{
    padding: 1.8%;
    padding-bottom: 0.5%;
    background-color: transparent;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: italic;
    border-top-style: solid;
    border-width: 6px;
    border-color: #1e0b30;
    font-size: 24px;
}

footer p{
    margin-left: 15%;
    margin-right: 15%;
    color: #A7E2FF;
}


/* Para aparelhos com ecrãs mais pequenos que 420px */
@media only screen and (max-width: 420px) 
{
    body header nav ul{
        margin-right: 20px;
    }
    body header nav ul a{
        font-size: 18px;
    }
    footer{
        font-size: 14px;
    }
}

/* Para aparelhos com ecrãs maiores que 420px */
@media only screen and (min-width: 420px)
{
    body header nav ul{
        margin-right: 20px;
    }
    body header nav ul a{
        font-size: 18px;
    }
    footer{
        font-size: 14px;
    }
}

/* Para aparelhos com ecrãs maiores que 550px */
@media only screen and (min-width: 550px) 
{
    body header nav ul{
        margin-right: 20px;
    }
    body header nav ul a{
        font-size: 16px;
    }
    footer{
        font-size: 12px;
    }
}

/* Para aparelhos com ecrãs maiores que 750px  */
@media only screen and (min-width: 750px)
{
    body header nav ul{
        margin-right: 50px;
    }
    body header nav ul a{
        font-size: 16px;
    }
    footer{
        font-size: 12px;
    }
}
/* Para aparelhos com ecrãs maiores que 990px */
@media only screen and (min-width: 990px)
{
    body header nav ul{
        margin-right: 70px;
    }
    body header nav ul a{
        font-size: 18px;
    }
    footer{
        font-size: 14px;
    }
}

/* Para aparelhos com ecrãs maiores que 1200px */
@media only screen and (min-width: 1200px)
{  
    body header nav ul{
        margin-right: 100px;
    }
    body header nav ul a{
        font-size: 20px;
    }
    footer{
        font-size: 14px;
    }
}

/* Para aparelhos com ecrãs maiores que 1900px */
@media only screen and (min-width: 1900px)
{  
    body header nav ul{
        margin-right: 100px;
    }
    body header nav ul a{
        font-size: 20px;
    }
    footer{
        font-size: 16px;
    }
}